{% extends 'core/base.html' %}

{% block title %}Quiénes Somos - El Rincón del Café{% endblock %}

{% block content %}
<!-- Banner Section -->
<section class="py-5" style="background-color:#212529; color: #f8f9fa;">
    <div class="container text-center">
        <h1 class="brand-font display-4 mb-3">¿Quiénes son LA VIRGOTERA?</h1>
    </div>
</section>

<!-- Historia -->
<section class="py-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6">
                <img src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80" 
                     class="img-fluid rounded shadow" alt="Barista preparando café">
            </div>
            <div class="col-lg-6">
                <h2 class="brand-font text-primary mb-4"></h2>
                <p class="mb-3">Eramos un grupo de amigos con una idea que poco a poco fue tomando forma y decidimos fundar la virgotera café</p>
                <p class="mb-3">una cafetería pensada con detalle, cariño y mucha pasión. Ya han pasado 3 años desde que abrimos nuestras puertas, y hoy seguimos creciendo, con el mismo amor por el café y las buenas conexiones que nos inspiraron desde el principio. </p>
                <p><strong></strong></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
